@import './base.less';
@import './element.less';

@font-face {
  /*自定义字体名*/
  font-family: 'PingFang SC';
  /*路径*/
  src: url('../assets/PingFang-SC-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /*自定义字体名*/
  font-family: 'Noto-Sans-TC';
  /*路径*/
  src: url('https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /*自定义字体名*/
  font-family: 'icon-font';
  /*路径*/
  src: url('../assets/icon-font.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.music-icon {
  font-family: 'icon-font';
  font-size: 20px;
  font-weight: normal;
  cursor: pointer;
}
.is-disabled .music-icon {
  cursor: not-allowed;
}

button .music-icon {
  font-size: 18px;
  margin-right: 5px;
}
