@import './base.less';
@import './element.less';
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap'); */

@font-face {
  /*自定义字体名*/
  font-family: 'PingFang SC';
  /*路径*/
  src: url('./PingFang-SC-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /*自定义字体名*/
  font-family: 'Noto Sans TC';
  /*路径*/
  src: url('https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /*自定义字体名*/
  font-family: 'icon-font';
  /*路径*/
  src: url('./icon-font.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html > body {
  color: var(--el-color-black);
}

html.dark > body {
  color: var(--el-color-white);
}

.music-icon {
  font-family: 'icon-font';
  font-size: 20px;
  cursor: pointer;
}
.is-disabled .music-icon {
  cursor: not-allowed;
}

button .music-icon {
  font-size: 18px;
  margin-right: 5px;
}
